source https://api.nuget.org/v3/index.json

storage: none
framework: net50

nuget Microsoft.Graph
nuget FSharp.Core
nuget Microsoft.Graph.Auth
nuget Microsoft.Identity.Client
nuget Microsoft.Extensions.FileSystemGlobbing
nuget TaskBuilder.fs
nuget Argu
nuget Goblinfactory.Konsole